<div class="container">

  <h1 class="d-flex justify-content-center">Events Booking Portal</h1>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <button routerLink="EventsDetails"
        class="m-1 btn btn-light btn-outline-primary" Button>Events</button>
      </li>

      <li class="nav-item">
        <button routerLink="BookingDetails"
        class="m-1 btn btn-light btn-outline-primary" Button>Bookings</button>
      </li>
      
    </ul>
  </nav>


</div>

<router-outlet></router-outlet>
